body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.menu {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.exercise {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.exercise img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.exercise h2 {
    color: #333;
    margin-bottom: 10px;
}

.exercise p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}
